#d1
{
  height:100px;
  background-color:deepskyblue;
}
#d2
{
  width: 35%;
  float: left;
  height: 300px;
  background-color: darkolivegreen;
}
#d3
{
  background-color: gold;
  width: 62%;
  float: right;
  height:210px;
}
#d4
{
  width: 62%;
  float: right;
  height:80px;
  background-color: grey
  ;
}
#d5
{
  height:100px;
  clear:both;
  background-color: darkorange;
}
div
{
  margin:6px;
  margin-top: 0px;
  margin-left:0px;
  background-color: rgb(191, 0, 73);
}
h1
{
  color: white;
  font-family: calibri;
  text-align: center;
  margin: auto;
}
          
#popup
{
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: .8;
    position: absolute;
    top: 0%;
    display:none;
}
#cross
{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50px;
    right: 100px;

}
#popupText
{
    margin: 20%;
    color: white;
    font-size: -webkit-xxx-large;
}      
div
{
  text-align: center;
}     
p
{
  color: white;
}
