.container
      {
          background-color: #e70000;
          height: 600px;   
      }
      .bannerHead
      {
        float: left;
        display: inline-flex;
        padding-top: 100px;
        padding-bottom: 100px;
        width: 100%;
      }
      .bannerTextDiv
      {
        margin: auto;
        color:#e70000
      }
      .bannerLogoDiv
      {
        margin: auto;
      }
      .heading
      {
        color: white;
        margin: 0;
        font-size: -webkit-xxx-large;
      }
      .subheading
      {
        color:white
      }
      .logo
      {
        float: left;
      }
      .BoxView
      {
        width: 100%;
        float: left;
        display: inline-flex;
      }
      .Box
      {
        width: 33%;
        height: 294px;
        background-color: #571212;
        margin: auto;
      }
      .boxHeading
      {
        color:white;
        padding: 20px;
        font-weight: 100;
      }
      .boxText
      {
        color: bisque;
        padding: 20px;
        font-size: small;
      }